.header{
	position: relative;
	height:auto;
	line-height: 10px;
}
.body-legal{
	position: relative;
	height:1250px;
	page-break-after: always;
}
.body-landscape{
	position: relative;
	height:700px;
	page-break-after: always;
}
.report-table{
	position: relative;
	margin-top: 15px;
	margin-left: 70px;
	width:90%;
	height:80%;
}
.border-red{
	border:1px solid red;
}
.border-blue{
	border:1px solid blue;
}
.margin-4{

	margin: 4px;
}



/*GRID SYSTEM*/
.col-20{
	position: relative;
	float: left;
	width:20%;
	display: inline-block;
}
.col-30{
	position: relative;
	float: left;
	width:30%;
	display: inline-block;
}
.col-40{
	position: relative;
	float: left;
	width:40%;
	display: inline-block;
}
.col-60{
	position: relative;
	float: left;
	width:60%;
	display: inline-block;
}
.col-70{
	position: relative;
	float: left;
	width:70%;
	display: inline-block;
}
.col-100{
	position: relative;
	float: left;
	width:100%;
	display: inline-block;

}

.row-10{
	height:10px;
}
.row-20{
	height:20px;
}
.row-30{
	height:30px;
}
.row-40{
	height:40px;
}
.row-50{
	height:50px;
}
.row-60{
	height:60px;
}
.row-100{
	height:100px;
}
.row-120{
	height:120px;
}
.row-fit{
	height:auto;
}


/* spacing ,text manipulation */
.t-center{
	text-align: center;
	padding:auto 0px;
}
.bold{
	font-weight: bold;
}
.italic{
	font-style: italic;
}
.padd-top-10{
	padding-top: 10px;
}

.big-label span{
	font-size: 35px;
	display: block;
}
.small-label span{
	font-size: 18px;
	display: block;
}
.vertical-line{
	position: absolute;
	left: 0px;
	top:55px;
	z-index:99999;
	text-align: center;
	padding-top: 20px;
}
.vertical-line2{
	position: absolute;
	left: 50px;
	top:65px;
	z-index:99999;
	text-align: center;
	padding-top: 20px;
}
.signature{
	border: 0;
    border-bottom: 1px solid #000;
}



/*table*/
.table-style th{
	background-color: #4D8BB8 !important;
	color: white;
}


.rounded-5{
	border-radius: 15px !important;
}


/*headers, titles*/
.title{
	text-align: center;

}

/*default div*/

.box-default{
	position: relative;
	height:auto;
	margin-top: 5px;
}

/*pages*/

.page-num{
	position: absolute;
    top: 0px;
    right: 0px;
}
.pageaf { 
	display: table-header-group;
}
/*to repeat table head in every page*/

td{
	padding:2px;
	text-align: center;
	max-width: 180px;
	word-wrap: break-word;
	height: 18px;
	text-transform: capitalize;
}
thead { 
	display: table-header-group;
}

tfoot { 
	display: table-row-group;
}
tr { 
	page-break-inside: avoid 
}

.break { 
	display: table-header-group;
	page-break-after: always;
}


/*  POSITION  */

.ab-left-30{
	position:absolute;
}

