
.wyred-box-header{
	width: 100%;
	height: 50px!important;
	background: #272634;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.wyred-box-body{
    background-color: #FBFBFB!important;
    padding: 20px 20px 20px 20px;
    display:block;
}
.wyred-box-title{
	color: #FFFFFF;
	padding-top: 15px!important;
	padding-left: 15px!important;
}
.wyred-box-footer{
	width: 100%;
	height: 50px!important;
	background: #E4DADA;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #d78184;
}
.wyred-button {
	padding-top: 8px!important;
}
.wyred-img {
	height: 200px;
	width: 200px;
	background: #E4DADA;
	margin-left:auto!important;
	margin-right:auto!important;
	border-radius: 2px 2px 2px 2px;
}
.student-img {
	padding-left:70px!important;
	padding-top:75px!important;
	font-weight:bold
}
.text-red {
	color: red;
}
select {
	text-transform:uppercase;
}
.ucase {
    text-transform: uppercase!important;
}
.wyred-box-header-2 {
	width: 100%; 
	height: 50px!important;
	background: #E4DADA;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;   
}
.pull-bottom {
	padding-top: 9px!important;
	padding-right: 8px!important;
}
.form-group {
    margin-bottom: 10px!important;
}



.portlet.box.wyred {
    border: 1px solid #3B3F51;
    border-top: 0;
}
.portlet > .portlet-body.wyred, .portlet.wyred {
    background-color: #3B3F51!important;
}
.text-white {
	color: #FFFFFF!important;
}





.profile .profile-image {
    float: left;
    width: 100%;
    margin: 0px 0px 10px;
    text-align: center;
}
.profile .profile-data {
    width: 100%;
    float: left;
    text-align: center;
}

h3,
.h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}

.security-mo-z {
	z-index: 999999!important;
}
.mo-z {
	z-index: 9999!important;
}
